body {
  text-align: center;
  background-color: yellow;
}
.box {
  width: 300px;
  height: 450px;
  background-color: rgba(255, 255, 255, 0.831);
  display: inline-block;
  border-radius: 10px;
  box-shadow: 4px 4px 8px black;
  transition: 3s;
  margin: 10px;
}
.box:hover {
  box-shadow: 8px 8px 16px black;
}
img {
  width: 100%;
  height: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.desc {
  text-align: left;
  padding-left: 3px;
}
