body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: grid;
  grid-template-rows: repeat(12 1fr);
  grid-template-columns: repeat(12 1fr);
  grid-gap: 10px;
  height: 100vh;
}
.box {
  background-color: pink;
  font-size: 25px;
  text-align: center;
}

.box1 {
  grid-column: 1/12;
}

.box2 {
  grid-column: 1/4;
  grid-row: 2/10;
}

.box3 {
  grid-column: 4/10;
}

.box4 {
  grid-column: 10/12;
  grid-row: 2/10;
}

.box5 {
  grid-row: 3/10;
  grid-column: 4/10;
}

.box6 {
  grid-column: 1/12;
}

@media screen and (max-width: 720px) {
  .box2 {
    grid-column: 1/12;
    grid-row: 2;
  }

  .box3 {
    grid-column: 1/4;
    grid-row: 3/12;
  }
  .box4 {
    grid-row: 3/12;
    grid-column: 4/12;
  }

  .box5 {
    grid-column: 1/4;
    grid-row: 12;
  }

  .box6 {
    grid-column: 4/12;
    grid-row: 12;
  }
}
