#container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: yellow;
  margin: 50px auto;
  position: relative;
}
.eyes {
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

.left {
  position: absolute;
  left: 50px;
  top: 50px;
}

.right {
  position: absolute;
  right: 50px;
  top: 50px;
}

#lip {
  width: 100px;
  height: 50px;
  background-color: red;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  position: absolute;
  top: 120px;
  left: 50px;
}
